
    <!-- модальное окно редактировать занятие -->
    <div class="modal fade" id="modal-medical-certificate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить больничный лист</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" action="{% url 'medical_certificate_create' student.pk %}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %}

                            {{ medical_certificate_form }}

                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="left btn  border-0 btn-primary font-weight-medium auth-form-btn"
                                    data-bs-dismiss="modal">Закрыть
                            </button>
                            <button type="submit"
                                    class="left btn  border-0 btn-primary font-weight-medium auth-form-btn">Сохранить
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
